/* -----------------------
Base styles
------------------------*/

* {
	box-sizing: border-box;
}

/* Navigation */
   .topnav {
	overflow: hidden;
	background-color: #222;
	text-align: center;
	
	}

	.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	}

	.topnav a:hover {
	background-color:#222;
	color: #019fbb;
	}

	.topnav a.active {
	background-color: #019fbb;
	color: white;
	}

/* Web Banner */
.covidbanner{
	position: relative;
	text-align : centre;
	padding: 15px 15px 2px 15px;
	height : 250px;
	width : 1440px;
}
.covidbannerpic {
	max-width: 100%;
	max-height: 100%;
}
/* COVID19 Heading */
.covid19head {
	position : absolute;
	color : white;
	font-size : 80px;
	top:40%;
	left : 560;
}
.infobanner1 {
	float : left;
	padding: 2px 5px 15px 15px;
	height : 90px;
	width:480px;

}
.banner1pic {
	width: 100%;
	max-height: 100%;
}

.infobanner2 {
	float : right;
	padding : 2px 15px 15px 2px;
	height : 90px;
	width : 480px;
}
.banner2pic {
	width: 100%;
	max-height: 100%;
}

.infobanner3 {
	float : right;
	padding : 2px 5px 15px 2px;
	height :90px;
	width : 480px;
}
.banner3pic {
	width: 100%;
	max-height: 100%;
}

body
{
	padding: 0px;
	margin: 0px;
	color: #000000;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

/* Page 1 */
.container1 {
	margin: 15px;
	padding: 15px;

}

.floatleft1 {
	float:left;
	width: 70%;
	height: 350px;
	border-color: black;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
}

.floatright1 {
	float: right;
	width: 30%;
	height: 350px;
	background-color:lightgrey;
	border-radius: 0px 15px 15px 0px;
	
}

.left {
	float: left;
	width: 30%;
	background-color: lightgrey;
	margin: 30px 0px 30px 30px;
	height: 200px;
	border-radius: 15px;
  }

  .middle {
	float: left;
	width: 30%;
	background-color: lightgrey;
	margin: 30px 30px 30px 30px;
	height: 200px;
	border-radius: 15px;
  }

  .right {
	float: left;
	width: 30%;
	background-color:lightgrey;
	margin: 30px 30px 30px 0px;
	height: 200px;
	border-radius: 15px;
  }

  /* page 2 */
  .container2 {
	margin: 30px;
	padding: 15px;
	background-color: lightgrey;
	height: 300px;
	border-radius: 15px;
  }

  .bigimg{
	  margin: 0px auto 30px auto;
	  height: auto;
	  display: block;
	  width: 50%;
	  border-radius: 15px;
  }

  .centered_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(75, 206, 249);
	padding: 10px;
	border-radius: 15px;
  }

  .container3 {
	position: relative;
  	text-align: center;
  	color: white;
  }

  .container3 a {
	position: relative;
  	text-align: center;
  	color: white;
	text-decoration: none;
  }

  /* page 3 */
.search {
	height: 40px;
}

input[type=text], select {
	width: 40%;
	padding: 12px 20px;
	margin: 15px 30px 30px 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	position: absolute;
	background-color: rgb(243, 242, 242);
	left: 45%;
	transform: translate(-50%, 0%);
  }

  input.submit1 {
	width: 8%;
	cursor: pointer;
	padding: 12px 20px;
	margin: 15px 30px 30px 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	position: absolute;
	background-color: rgb(243, 242, 242);
	left: 70%;
	transform: translate(-50%, 0%);
  }

  .country_title {
		width: 80%;
		background-color: rgb(68, 67, 67);
		text-align: center; 
		color: white;
		margin-top: 30px;
  }
  

