/* -----------------------
Base styles
------------------------*/

* {
	box-sizing: border-box;
}
/* Navigation */
   .topnav {
	overflow: hidden;
	background-color: #222;
	text-align: center;
	
	}

	.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}

	.topnav a:hover {
	background-color:#222;
	color: #4CAF50;
	}

	.topnav a.active {
	background-color: rgb(14, 93, 14);
	color: white;
	}

body
{
	padding: 0px;
	margin: 0px;
	color: #000000;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

/* Page 1 */
.container1 {
	margin: 15px;
	padding: 15px;

}

.floatleft1 {
	float:left;
	width: 70%;
	height: 350px;
	border-color: black;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
}

.floatright1 {
	float: right;
	width: 30%;
	height: 350px;
	background-color:lightgrey;
	border-radius: 0px 15px 15px 0px;
	
}

.left {
	float: left;
	width: 30%;
	background-color: lightgrey;
	margin: 30px 0px 30px 30px;
	height: 200px;
	border-radius: 15px;
  }

  .middle {
	float: left;
	width: 30%;
	background-color: lightgrey;
	margin: 30px 30px 30px 30px;
	height: 200px;
	border-radius: 15px;
  }

  .right {
	float: left;
	width: 30%;
	background-color:lightgrey;
	margin: 30px 30px 30px 0px;
	height: 200px;
	border-radius: 15px;
  }

  /* page 2 */
  .container2 {
	margin: 30px;
	padding: 15px;
	background-color: lightgrey;
	height: 300px;
	border-radius: 15px;
  }

  .bigimg{
	  margin: 0px auto 30px auto;
	  height: auto;
	  display: block;
	  width: 50%;
	  border-radius: 15px;
  }

  .centered_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(75, 206, 249);
	padding: 10px;
	border-radius: 15px;
  }

  .container3 {
	position: relative;
  	text-align: center;
  	color: white;
  }

  .container3 a {
	position: relative;
  	text-align: center;
  	color: white;
	text-decoration: none;
  }

  /* page 3 */
.search {
	
}

input[type=text], select {
	width: 40%;
	padding: 12px 20px;
	margin: auto;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	position: absolute;
	background-color: rgb(243, 242, 242);
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
  }

