/* -----------------------
Base styles
------------------------*/

* {
	box-sizing: border-box;
}

/* Navigation */
    .top {
		background-color: #019fbb;
	}

	.covid {
		color: white;
		margin: 0 auto;
		font-size: 60px;
		font-weight: bold;
		height: 70px;
		text-align: center;
	}

   .topnav {
	overflow: hidden;
	background-color: #222;
	text-align: center;
	
	}

	.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	}

	.topnav a:hover {
	background-color:#222;
	color: #019fbb;
	}

	.topnav a.active {
	background-color: #019fbb;
	color: white;
	}


	/* side nav on page 1  */
	.floatright1 ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #f1f1f1;
	  }
	
	  
	  .floatright1 li a {
		display: block;
		color: #000;
		padding: 26.1px;
		text-decoration: none;
		border-bottom: solid 0.1px rgb(164, 164, 164);
	  }

	  .floatright1 li:last-child { 
		border-bottom: none;
	  }
	  
	  /* Change the link color on hover */
	  .floatright1 li a:hover {
		background-color: #222;
		color: white;
	  }

	  .floatright1 a.active {
		background-color: #019fbb;
		color: white;
		}

/* Web Banner */
.covidbanner{
	position: relative;
	text-align : centre;
	padding: 15px 15px 2px 15px;
	height : 250px;
	width : 1440px;
}
.covidbannerpic {
	max-width: 100%;
	max-height: 100%;
}
/* COVID19 Heading */
.covid19head {
	position : absolute;
	color : white;
	font-size : 80px;
	top:40%;
	left : 560;
}
.infobanner1 {
	float : left;
	padding: 2px 5px 15px 15px;
	height : 90px;
	width:480px;

}
.banner1pic {
	width: 100%;
	max-height: 100%;
}

.infobanner2 {
	float : right;
	padding : 2px 15px 15px 2px;
	height : 90px;
	width : 480px;
}
.banner2pic {
	width: 100%;
	max-height: 100%;
}

.infobanner3 {
	float : right;
	padding : 2px 5px 15px 2px;
	height :90px;
	width : 480px;
}
.banner3pic {
	width: 100%;
	max-height: 100%;
}

body
{
	padding: 0px;
	margin: 0px;
	color: #000000;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}


/* Page 1 */
.container1 {
	margin: 15px;
	padding: 15px;

}


/* .middletext {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .container1:hover .floatleft1 {
	opacity: 0.3;
  }
  
  .container1:hover .middletext {
	opacity: 1;
  }
  
  .text {
	background-color: #04AA6D;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  } */

  .container1:hover .floatleft1 {
	opacity: 0.3;
  }

.floatleft1 {
	float:left;
	width: 70%;
	height: 430px;
	transition: .5s ease;
    backface-visibility: hidden;
	/* border-radius: 15px 0px 0px 15px; */
}

.floatright1 {
	float: right;
	width: 30%;
	height: 430px;
	background-color:lightgrey;
	border-radius: 0px 15px 15px 0px;
	
}

.clear{
	clear:both;
  }

.wrapper {
	text-align:center;
}

.left {
	float: left;
	width: 30%;
	background-color: lightgrey;
	margin: 30px 0px 30px 30px;
	height: 200px;
	border-radius: 15px;
  }

  .middle {
	float: left;
	width: 30%;
	background: linear-gradient(to bottom, #019fbb 25%, Lightgrey 25%, lightgrey 80%);
	margin: 30px 40px 30px 40px;
	height: 200px;
	border-radius: 15px;
  }

  .wrapper a {
	position: static;
	top: 5%;
	left: 50%;
	color: white;
	font-weight: bold;
  }

  .right {
	float: left;
	width: 30%;
	background-color:lightgrey;
	margin: 30px 30px 30px 0px;
	height: 200px;
	border-radius: 15px;
  }

  /* page 2 */
  .container2 {
	margin-bottom: 15px;
	text-align:center;
  }

  /* heading psoition for facts */
  .container2 p {
	position: static;
	top: 5%;
	left: 50%;
	color: white;
	font-weight: bold;
  }

  .container2 h2 {
	bottom: 50%;
	left: 50%;
	position: static;
	font-size: 40px;

  }

  .container2 h4 {
	margin: 0;
	position: static;
	font-size: 30px;
	bottom: 70%;
	left: 50%;
	text-transform: uppercase;
  }

  .sumcases {
	float: left;
	width: 30%;
	margin: 30px 0px 30px 30px;
	height: 200px;
	/* border-radius: 15px; */
	background: linear-gradient(to bottom, #019fbb 25%, Lightgrey 25%, lightgrey 80%);
  }

  .sumdeaths {
	float: left;
	width: 30%;
	margin: 30px 40px 30px 40px;
	height: 200px;
	background: linear-gradient(to bottom, #019fbb 25%, Lightgrey 25%, lightgrey 80%);
	/* border-radius: 15px; */
  }

  .covid_country {
	float: right;
	width: 30%;
	margin: 30px 30px 30px 0px;
	height: 647;
	background: linear-gradient(to bottom, #019fbb 50px, Lightgrey 50px, lightgrey 100%);
	
	/* border-radius: 15px; */
  }

  .bigimg{
	  float: left;
	  position: static;
	  margin: 0px 0px 30px 30px;
	  height: auto;
	  display: block;
	  width: 62.7%;
	  transition: .5s ease;
      backface-visibility: hidden;
	  /* border-radius: 15px; */
  }

  .container3:hover .bigimg {
	opacity: 0.3;
  }

  .container3 {
	position: relative;
  	text-align: center;
  	color: white;
  }

  .centered_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(75, 206, 249);
	padding: 10px;
	border-radius: 15px;
  }

  .container3 a {
	position: relative;
  	color: white;
	text-decoration: none;
  }

  /* page 3 */
.search_container {
	height: 40px;
	display: block;
	clear:both;
}

input[type=text], select {
	width: 40%;
	padding: 12px 20px;
	margin: 15px 30px 30px 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	position: absolute;
	background-color: rgb(243, 242, 242);
	left: 45%;
	transform: translate(-50%, 0%);
  }

  input.submit1 {
	width: 8%;
	cursor: pointer;
	padding: 12px 20px;
	margin: 15px 30px 30px 30px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	position: absolute;
	background-color: rgb(243, 242, 242);
	left: 70%;
	transform: translate(-50%, 0%);
  }

  .country_title {
		width: 80%;
		background-color: rgb(68, 67, 67);
		text-align: center; 
		color: white;
		margin-top: 30px;
  }

  	.container4 {
		  margin: 0 auto;
		  position: relative;
	  }
  

