/* -----------------------
Base styles
------------------------*/

* {
	box-sizing: border-box;
}

/* Navigation */
    .top {
		background-color: #019fbb;
	}

	.covid {
		color: white;
		margin: 0 auto;
		font-size: 60px;
		font-weight: bold;
		height: 70px;
		text-align: center;
	}

   .topnav {
	overflow: hidden;
	background-color: #222;
	text-align: center;	
	}

	.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	}

	.topnav a:hover {
	background-color:#222;
	color: #019fbb;
	}

	.topnav a.active {
	background-color: #019fbb;
	color: white;
	}


/* Web Banner  - HOME PAGE */

	/* side nav on page 1  */
	.floatright1 ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #f1f1f1;
	  }
	
	  
	  .floatright1 li a {
		display: block;
		color: #000;
		padding: 26.1px;
		text-decoration: none;
		border-bottom: solid 0.1px rgb(164, 164, 164);
	  }

	  .floatright1 li:last-child { 
		border-bottom: none;
	  }
	  
	  /* Change the link color on hover */
	  .floatright1 li a:hover {
		background-color: #222;
		color: white;
	  }

	  .floatright1 a.active {
		background-color: #019fbb;
		color: white;
		}

/* Web Banner */
.covidbanner{
	position: relative;
	text-align : center;
	padding: 15px 15px 2px 15px;
	height : 250px;
	width : 1440px;
}
.covidbannerpic {
	width:100%;
}
/* COVID19 Heading */
.covid19head {
	position : absolute;
	color : white;
	font-size : 80px;
	top:40%;
	left : 560;
}
.infobanner1 {
	float : left;
	padding: 2px 5px 15px 15px;
	height : 90px;
	width:480px;
	text-align:center;

}
.simplehead {
	position : absolute;
	color : white;
	font-size : 40px;
}
.banner1pic {
	width: 100%;
	max-height: 100%;
}

.infobanner2 {
	float : right;
	padding : 2px 15px 15px 2px;
	height : 90px;
	width : 480px;
	text-align : center;
}
.maphead {
	position : absolute;
	color : white;
	font-size : 30px;
	
}
.banner2pic {
	width: 100%;
	max-height: 100%;
}

.infobanner3 {
	float : right;
	padding : 2px 5px 15px 2px;
	height :90px;
	width : 480px;
	text-align: center;
}
.banner3pic {
	width: 100%;
	max-height: 100%;
}
.detailstats {
	position : absolute;
	color : white;
	font-size : 30px;
}
.textboxleft {
	float: left;
    background-color: #019fbb;
    position: relative;
    width: 460px;
    height: 800px;
    margin: 15px;
    border-radius: 20px;
}
.textboxmiddle {
    float: left;
    background-color: #019fbb;
    position: relative;
    width: 460px;
    height: 800px;
    margin: 15px 0px 15px 0px;
    border-radius: 20px;
}
.textboxright {
    float: right;
    background-color: #019fbb;
    position: relative;
    width: 460px;
    height: 800px;
    margin: 15px 15px 15px 0px;
    border-radius: 20px;

}

body
{
	padding: 0px;
	margin: 0px;
	color: #000000;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}


/* Page 1 */
.container1 {
	margin: 15px;
	padding: 15px;

}


/* .middletext {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .container1:hover .floatleft1 {
	opacity: 0.3;
  }
  
  .container1:hover .middletext {
	opacity: 1;
  }
  
  .text {
	background-color: #04AA6D;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  } */

  .container1:hover .floatleft1 {
	opacity: 0.3;
  }

.floatleft1 {
	float:left;
	width: 70%;
	height: 430px;
	transition: .5s ease;
    backface-visibility: hidden;
	/* border-radius: 15px 0px 0px 15px; */
}

.floatright1 {
	float: right;
	width: 30%;
	height: 430px;
	background-color:l#f1f1f1;
	border-radius: 0px 15px 15px 0px;
	
}

.clear{
	clear:both;
  }

.wrapper {
	padding :10px;
}

.left p, .left h2, .middle p, .middle h2, .right p, .right h2 {
	margin: 20px;
}

.left {
	float: left;
	width: 30%;
	background-color: #f1f1f1;
	margin: 30px 0px 30px 30px;
	height: 250px;
  }

  .middle {
	float: left;
	width: 30%;
	background: #f1f1f1;
	margin: 30px 40px 30px 40px;
	height: 250px;
  }

  .titlehelp {
	text-decoration: none;
	color: black;
  }

  .help {
	  color: #019fbb;
	  text-decoration: none;
  }


  .right {
	float: left;
	width: 30%;
	background-color:#f1f1f1;
	margin: 30px 30px 30px 0px;
	height: 250px;
  }

  /* page 2 */
  .container2 {
	margin-bottom: 15px;
	text-align:center;
  }

  /* heading psoition for facts */
  .container2 p {
	position: static;
	top: 5%;
	left: 50%;
	color: white;
	font-weight: bold;
  }

  .container2 h2 {
	bottom: 50%;
	left: 50%;
	position: static;
	font-size: 40px;

  }

  .container2 h4 {
	margin: 0;
	position: static;
	font-size: 30px;
	bottom: 70%;
	left: 50%;
	text-transform: uppercase;
  }

  .sumcases {
	  color: green;
	float: left;
	width: 30%;
	margin: 30px 0px 30px 30px;
	height: 200px;
	/* border-radius: 15px; */
	background: linear-gradient(to bottom, #019fbb 25%, #f1f1f1 25%, #f1f1f1 80%);
  }

  .sumdeaths {
	  color : red;
	float: left;
	width: 30%;
	margin: 30px 40px 30px 40px;
	height: 200px;
	background: linear-gradient(to bottom, #019fbb 25%, #f1f1f1 25%, #f1f1f1 80%);
	/* border-radius: 15px; */
  }

  .covid_country {
	float: right;
	width: 30%;
	margin: 30px 30px 30px 0px;
	height: 647;
	background: linear-gradient(to bottom, #019fbb 50px, #f1f1f1 50px, #f1f1f1 100%);
	
	/* border-radius: 15px; */
  }

  .bigimg{
	  float: left;
	  position: static;
	  margin: 0px 0px 30px 30px;
	  height: auto;
	  display: block;
	  width: 100%;
	  transition: .5s ease;
      backface-visibility: hidden;
	  /* border-radius: 15px; */
  }

  .container3:hover .bigimg {
	opacity: 0.3;
  }

  .container3 {
	position: relative;
  	text-align: center;
  	color: white;
	  width: 62.7%;
  }

  .centered_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%, 110%);
	background-color:#222;
	padding: 20px;
	border-radius: 15px;
  }

  .container3 a {
	position: relative;
  	color: white;
	text-decoration: none;
  }

  /* page 3 */
.search_container {
		margin: 30px 30px 10px 30px;
        background-color: white;
		text-align: center;
}

.centered_div{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

input[type=text] {
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	width: 40%;
	padding: 15px;
	display: inline-block;
	background: #f1f1f1;
	margin-right: 15px;
	text-align: center;
  }

  input[type=submit] {
	width: 8%;
	padding: 15px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	display: inline-block;
	background: #f1f1f1;
  }

  	.container4 {
		margin: 0px 30px 0px 30px;
        background-color: white;
		text-align: center;
	}

	.country_title {
		width: 80%;
		background-color: #222;
		text-align: center; 
		color: white;
		display: inline-block;
		margin: 0 auto;
		padding: 15px;
		border-radius: 15px;
	    box-sizing: border-box;
  }
  
  /* 3 boxes  */
  .container5 {
	margin: 0px 30px 0px 30px;
	background-color: white;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
}

  .container5 p {
	position: static;
	top: 5%;
	left: 50%;
	color: white;
	font-weight: bold;
  }

  .container5 h2 {
	bottom: 50%;
	left: 50%;
	position: static;
	font-size: 40px;

  }

  .Tot_infection {
	float: left;
	width: 30%;
	margin: 30px 0px 30px 30px;
	height: 200px;
	/* border-radius: 15px; */
	background: linear-gradient(to bottom, #019fbb 25%, #f1f1f1 25%, #f1f1f1 80%);
  }

  .infection_date {
	float: left;
	width: 30%;
	margin: 30px;
	height: 200px;
	background: linear-gradient(to bottom, #019fbb 25%, #838383 25%, #838383 50%,#f1f1f1 50%, #f1f1f1 80%);
	/* border-radius: 15px; */
  }

  .max_infection {
	float: left;
	width: 30%;
	margin: 30px 30px 30px 0px;
	height: 200px;
	background: linear-gradient(to bottom, #019fbb 50px, #f1f1f1 50px, #f1f1f1 100%);
  }

  .container5 input[type=date] {
	width: 140px;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box;
	background: white;
	top: 5%;
	left: 50%;
	height: 40px;
	margin: 4px 0px 4px 4px;
  }

  .container5 label {
	  color: white;
	  margin-left: 10px;
	  font-weight: bold;
  }

  /* aus button for states drop down */
  .button_cont {
	margin: 0px 15px 0px 0px;
	background-color: white;
	padding: 30px 30px 0px 30px;
	text-transform: uppercase;
	position: relative;
	}

	.btn_block {
		width: 300px;
		cursor: pointer;
		background: #222;
		color:white;
		text-decoration: none;
		padding: 10px;
		border-radius: 15px;
		font-size: large;
		
	}

	.center_button {
		margin: 0;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
  


  .container6 {
	margin: 15px 30px 0px 30px;
	background-color: white;
	padding: 0px 30px 0px 30px;
	text-transform: uppercase;
	}

	.worst  {
		float:left;
		margin: 0px 0px 5px 0px;

	}

	.tbl {
		border-collapse: collapse;
		width: 100%;
	}
	
	.tbl td, .tbl th {
	border: 1px solid #ddd;
	padding: 8px;
	}
	
	.tbl tr:nth-child(even){background-color: #f2f2f2;}
	
	.tbl tr:hover {background-color: #ddd;}
	
	.tbl th {
		padding-top: 12px;
		padding-bottom: 10px;
		text-align: left;
		background-color: #019fbb ;
		color: white;
	}

	.container6 input[type=date] {
		width: 140px;
		border: 1px solid #ccc;
		border-radius: 15px;
		box-sizing: border-box;
		background: white;
		height: 30px;
		margin: 4px 0px -40px 4px;
	  }

/* page 5 */

	  .container7{
		  margin: 30px;
	  }

	  .sim_climate{
		  float:left;
		  width: 50%;
		  height:400px;
		  padding-right: 30px;
	  }

	  .grey {
		width: 100%;
		background-color: #222;
		text-align: center; 
		color: white;
		display: inline-block;
		margin: 0px 0px 15px 0px;
		border-radius: 5px;
	    box-sizing: border-box;
	  }

	  .grey h4 {
		  margin: 10px;
	  }

	  .filters {
		margin: 0px 0px 20px 0px;
	  }

	  .filters[type=date] {
		  float: right;
	  }

	  .filters p {
		  float: left;
		  margin: 0px 65px 0px 0px;
		  font-size: larger;
		  background: #019fbb;
		  color: white;
	  }

	  .sim_distance{
		float: right;
		overflow: hidden;
		width: 50%;
		height:400px;
		padding-left: 30px;
	  } 

	  .container8 {
		  margin: 0px 30px 30px 30px;
		 
		  height: 300px;
	  }

	  .US_SEARCH input[type=text] {
		border: 1px solid #ccc;
		border-radius: 15px;
		box-sizing: border-box;
		width: 85%;
		padding: 10px;
		color: white;
		display: inline-block;
		background: #019fbb;
		margin-right: 15px;
		text-align: center;
	  }
	
	  .US_SEARCH input[type=submit] {
		width: 12%;
		padding: 10px;
		cursor: pointer;
		border: 1px solid #ccc;
		border-radius: 15px;
		box-sizing: border-box;
		display: inline-block;
		background: #019fbb;
		color:white;
	  }

	  .US_SEARCH ::placeholder {
		color: white;
		opacity: 1; /* Firefox */
	  }

	  .search_container ::placeholder{
		color: black;
		opacity: 1; /* Firefox */
	  }



